.catalog-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

  &__wrapper {
  }

  &__view-mode {
    justify-content: end;
  }
}

.filter-btn {
  &__open {
  }
}

.btn-icon {
  &--light {
  }
}
