.section {
}
.featured-games {

		&__section {
      padding: 16px 0;
      background-color: var(--bg-color-primary);
		}

		&__container {
		}
}
.container {
}
.section-heading {
}
.title {
}
.main-title {
}
.accent-title {
}
.title-description {
}
.products {

		&__wrapper {
		}
}
.news {

		&__container {
		}
}
.news-slider {

		&__btns {
			margin-top: 24px;
		}

		&__btn {

			&--prev {
				margin-right: 24px;
			}

			&--next {
			}
		}

		&__nav {
		}

		&__scroll {
		}
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-scrollbar {
}
