.color-options {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__img {
    max-width: 56px;
  }
}

.product {
  &__color-options {
  }
}