@media (hover: hover) {
  .form-filter__more-btn:hover,
  .form-filter__item:hover {
    text-shadow: 0 0 0 1px var(--color-text-dark);
    color: var(--color-text-dark);
  }
}

@media (hover: none) {
  .form-filter__more-btn:active,
  .form-filter__item:active {
    text-shadow: 0 0 0 1px var(--color-text-dark);
    color: var(--color-text-dark);
  }
}

@media (width <= 767px) {
  .filter-btn {
    display: inline-block;
  }
}

// transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

// &__phones {
//   & > * {
//     margin-right: 20px;

//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }

.text {
  flex: 0 0 270px;
  width: 270px;
  white-space: nowrap;
  user-select: none;
}

// > - у ближайшего соседа

// <svg
// class="icon"
// >
// <use xlink:href="img/sprite.svg#icon-up"></use>
// </svg>