.user-panel {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__link {
    color: var(--text-color-primary);
    padding: 4px;


    & svg {
      fill: currentColor;
    }
  }
}
