<div class="catalog-dashboard">
    <button class="btn-reset filter-btn__open btn-icon btn-icon--light">
      <svg class="">
        <use xlink:href="img/sprite.svg#filter"></use>
      </svg>
    </button>
    <div class="catalog-dashboard__select-wrapper">
      <select name="" id="" class="catalog-dashboard__select">
        <option value="1">Ціна за зростанням</option>
        <option value="2">Ціна за зростанням</option>
        <option value="3">Ціна за зростанням</option>
        <option value="4">Ціна за зростанням</option>
      </select>
    </div>
    <div class="catalog-dashboard__view-mode">
      <button class="btn-reset btn-icon btn-icon--light" id="row">
        <svg class="">
          <use xlink:href="img/sprite.svg#rows-view"></use>
        </svg>
      </button>
      <button class="btn-reset btn-icon btn-icon--light" id="grid" disabled>
        <svg class="">
          <use xlink:href="img/sprite.svg#grid-view"></use>
        </svg>
      </button>
    </div>
</div>
