<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h2 class="hero__title">Lorem ipsum dolor sit.</h2>
        <p class="hero__descr">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, at?
        </p>
      </div>

      <div class="hero__img-wrapper">
        <img class="hero__img" src="../img/hero.png" alt="" />
      </div>

      <div class="brands hero__brands">
        <div class="brands__wrapper">
          <ul class="list-reset brands__list">
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/activision.svg" alt="Image" />
                </div>
              </a>
            </li>
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/ea-games.svg" alt="Image" />
                </div>
              </a>
            </li>
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/playstation.svg" alt="Image" />
                </div>
              </a>
            </li>
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/quiche-games.svg" alt="Image" />
                </div>
              </a>
            </li>
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/r-star.svg" alt="Image" />
                </div>
              </a>
            </li>
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/ubisoft.svg" alt="Image" />
                </div>
              </a>
            </li>
            <li class="brands__item">
              <a href="#" class="brands__link">
                <div class="brands__img">
                  <img src="./../img/brands/xbox.svg" alt="Image" />
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
