<section class="latest-news latest-news__section">
  <div class="container">
    <div class="section-heading">
      <h2 class="title main-title accent-title">Latest News</h2>
      <p class="title-description">
        Stay up to date with the latest events from the world of computer games!
        New releases, major updates, rumors, reviews and exclusive announcements
        - all in one place. Be the first to know about discounts, pre-orders and
        gaming events that you can't miss!
      </p>
    </div>

    <div class="latest-news__container">
      <div class="news">
        <div class="news__wrapper">
          <h3 class="news__title accent-title">
            Get Your First Month of Ubisoft+ Classics for $1
          </h3>
          <div class="news__img">
            <img src="img/latest-news/news-1.png" alt="Image" />
          </div>
          <p class="news__description">
            Play some of these beloved games without breaking the bank! From now
            until January 2, new subscribers can get their first month
            of Ubisoft+ Classics for just $1 USD.
          </p>
          <p>
            <button
              class="btn-reset btn-primary btn-post"
              aria-label="Open the post"
            >
              <svg
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
                aria-hidden="true"
              >
                <use xlink:href="img/sprite.svg#sticky-note"></use>
              </svg>
              Open the news
            </button>
          </p>
        </div>
      </div>
      <div class="news">
        <div class="news__wrapper">
          <h3 class="news__title accent-title">
            Get Your First Month of Ubisoft+ Classics for $1
          </h3>
          <div class="news__img">
            <img src="img/latest-news/news-2.png" alt="Image" />
          </div>
          <p class="news__description">
            Play some of these beloved games without breaking the bank! From now
            until January 2, new subscribers can get their first month
            of Ubisoft+ Classics for just $1 USD.
          </p>
          <p>
            <button
              class="btn-reset btn-primary btn-post"
              aria-label="Open the post"
            >
              <svg
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
                aria-hidden="true"
              >
                <use xlink:href="img/sprite.svg#sticky-note"></use>
              </svg>
              Open the news
            </button>
          </p>
        </div>
      </div>
      <div class="news">
        <div class="news__wrapper">
          <h3 class="news__title accent-title">
            Get Your First Month of Ubisoft+ Classics for $1
          </h3>
          <div class="news__img">
            <img src="img/latest-news/news-3.png" alt="Image" />
          </div>
          <p class="news__description">
            Play some of these beloved games without breaking the bank! From now
            until January 2, new subscribers can get their first month
            of Ubisoft+ Classics for just $1 USD.
          </p>
          <p>
            <button
              class="btn-reset btn-primary btn-post"
              aria-label="Open the post"
            >
              <svg
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
                aria-hidden="true"
              >
                <use xlink:href="img/sprite.svg#sticky-note"></use>
              </svg>
              Open the news
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
