<section class="presentation">
  <div class="container">
    <div class="presentation__container">
      <ul class="list-reset presentation__list">

        <li class="presentation__item">
          <h2 class="presentation__title">Title</h2>
          <div class="presentation__img">
            <img src="../img/presentation/presentation-1.jpg" alt="Presetation image">
          </div>
        </li>
        <li class="presentation__item">
          <h2 class="presentation__title">Title</h2>
          <div class="presentation__img">
            <img src="../img/presentation/presentation-2.jpg" alt="Presetation image">
          </div>
        </li>
        <li class="presentation__item">
          <h2 class="presentation__title">Title</h2>
          <div class="presentation__img">
            <img src="../img/presentation/presentation-3.jpg" alt="Presetation image">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
