<div class="product">
  <div class="product__wrapper">
    <a href="#" class="product__link">
      <div class="product__img">
        <img
          src="img/products/predator-hunting-grounds-art-1920x1080.jpg"
          alt="Cover art of Predator: Hunting Grounds"
        />
      </div>
      <h2 class="title product-title accent-title">
        Predator: Hunting Grounds
      </h2>
    </a>
    <div class="product__footer">
      <div class="product__price-wrapper">
        <span class="product__price">1000 грн</span>
        <span class="product__price product__price--old">1200 грн</span>
      </div>
      <a class="btn-reset btn-primary product__btn" href="#">Find out more</a>
    </div>
  </div>
</div>
