<section class="section-products-slider">
  <div class="container">
    <div class="products-slider__container">
      <h2>Products</h2>
      <div class="products-slider__btns">
        <button
          class="btn-reset products-slider__btn products-slider__btn--prev"
          aria-label="Перейти к предыдущему слайду"
        ></button>
        <button
          class="btn-reset products-slider__btn products-slider__btn--next"
          aria-label="Перейти к следующему слайду"
        ></button>
      </div>
      <div class="swiper products-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="main-catalog__item">
              <div class="product">
                <div class="product__wrapper">
                  <a href="#" class="product__link">
                    <div class="product__info">
                      <div class="product__labels">
                        <div class="product__label product__label--new">
                          new
                        </div>
                        <div class="product__label product__label--sale">
                          -30%
                        </div>
                      </div>
                      <div class="product__wish">
                        <button
                          class="btn-reset btn-icon"
                          aria-label="Відмітити товар як сподобався"
                          aria-pressed="false"
                        >
                          <svg
                            height="24px"
                            width="24px"
                            aria-hidden="true"
                          >
                            <use xlink:href="img/sprite.svg#favorite"></use>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="product__img">
                      <img
                        src="../img/catalog/Nike-Men's-Air-Monarch-IV-Training-Shoe-white/1.jpeg"
                        alt=""
                      />
                    </div>
                    <h2 class="product__title">
                      Nike Men's Air Monarch IV Training Shoe Nike Men's Air
                      Monarch IV Training Shoe
                    </h2>
                  </a>
                  <span class="product__price">1000</span>

                  <button class="btn-primary product__btn">Button</button>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="main-catalog__item">
              <div class="product">
                <div class="product__wrapper">
                  <a href="#" class="product__link">
                    <div class="product__info">
                      <div class="product__labels">
                        <div class="product__label product__label--new">
                          new
                        </div>
                        <div class="product__label product__label--sale">
                          -30%
                        </div>
                      </div>
                      <div class="product__wish">
                        <button
                          class="btn-reset btn-icon"
                          aria-label="Відмітити товар як сподобався"
                          aria-pressed="false"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            viewBox="0 0 24 24"
                            height="24px"
                            width="24px"
                            aria-hidden="true"
                          >
                            <use xlink:href="img/sprite.svg#favorite"></use>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="product__img">
                      <img
                        src="../img/catalog/Nike-Men's-Air-Monarch-IV-Training-Shoe-white/1.jpeg"
                        alt=""
                      />
                    </div>
                    <h2 class="product__title">
                      Nike Men's Air Monarch IV Training Shoe Nike Men's Air
                      Monarch IV Training Shoe
                    </h2>
                  </a>
                  <span class="product__price">1000</span>

                  <button class="btn-primary product__btn">Button</button>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="main-catalog__item">
              <div class="product">
                <div class="product__wrapper">
                  <a href="#" class="product__link">
                    <div class="product__info">
                      <div class="product__labels">
                        <div class="product__label product__label--new">
                          new
                        </div>
                        <div class="product__label product__label--sale">
                          -30%
                        </div>
                      </div>
                      <div class="product__wish">
                        <button
                          class="btn-reset btn-icon"
                          aria-label="Відмітити товар як сподобався"
                          aria-pressed="false"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            viewBox="0 0 24 24"
                            height="24px"
                            width="24px"
                            aria-hidden="true"
                          >
                            <use xlink:href="img/sprite.svg#favorite"></use>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="product__img">
                      <img
                        src="../img/catalog/Nike-Men's-Air-Monarch-IV-Training-Shoe-white/1.jpeg"
                        alt=""
                      />
                    </div>
                    <h2 class="product__title">
                      Nike Men's Air Monarch IV Training Shoe Nike Men's Air
                      Monarch IV Training Shoe
                    </h2>
                  </a>
                  <span class="product__price">1000</span>

                  <button class="btn-primary product__btn">Button</button>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="main-catalog__item">
              <div class="product">
                <div class="product__wrapper">
                  <a href="#" class="product__link">
                    <div class="product__info">
                      <div class="product__labels">
                        <div class="product__label product__label--new">
                          new
                        </div>
                        <div class="product__label product__label--sale">
                          -30%
                        </div>
                      </div>
                      <div class="product__wish">
                        <button
                          class="btn-reset btn-icon"
                          aria-label="Відмітити товар як сподобався"
                          aria-pressed="false"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            viewBox="0 0 24 24"
                            height="24px"
                            width="24px"
                            aria-hidden="true"
                          >
                            <use xlink:href="img/sprite.svg#favorite"></use>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="product__img">
                      <img
                        src="../img/catalog/Nike-Men's-Air-Monarch-IV-Training-Shoe-white/1.jpeg"
                        alt=""
                      />
                    </div>
                    <h2 class="product__title">
                      Nike Men's Air Monarch IV Training Shoe Nike Men's Air
                      Monarch IV Training Shoe
                    </h2>
                  </a>
                  <span class="product__price">1000</span>

                  <button class="btn-primary product__btn">Button</button>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="main-catalog__item">
              <div class="product">
                <div class="product__wrapper">
                  <a href="#" class="product__link">
                    <div class="product__info">
                      <div class="product__labels">
                        <div class="product__label product__label--new">
                          new
                        </div>
                        <div class="product__label product__label--sale">
                          -30%
                        </div>
                      </div>
                      <div class="product__wish">
                        <button
                          class="btn-reset btn-icon"
                          aria-label="Відмітити товар як сподобався"
                          aria-pressed="false"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            viewBox="0 0 24 24"
                            height="24px"
                            width="24px"
                            aria-hidden="true"
                          >
                            <use xlink:href="img/sprite.svg#favorite"></use>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="product__img">
                      <img
                        src="../img/catalog/Nike-Men's-Air-Monarch-IV-Training-Shoe-white/1.jpeg"
                        alt=""
                      />
                    </div>
                    <h2 class="product__title">
                      Nike Men's Air Monarch IV Training Shoe Nike Men's Air
                      Monarch IV Training Shoe
                    </h2>
                  </a>
                  <span class="product__price">1000</span>

                  <button class="btn-primary product__btn">Button</button>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="main-catalog__item">
              <div class="product">
                <div class="product__wrapper">
                  <a href="#" class="product__link">
                    <div class="product__info">
                      <div class="product__labels">
                        <div class="product__label product__label--new">
                          new
                        </div>
                        <div class="product__label product__label--sale">
                          -30%
                        </div>
                      </div>
                      <div class="product__wish">
                        <button
                          class="btn-reset btn-icon"
                          aria-label="Відмітити товар як сподобався"
                          aria-pressed="false"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            viewBox="0 0 24 24"
                            height="24px"
                            width="24px"
                            aria-hidden="true"
                          >
                            <use xlink:href="img/sprite.svg#favorite"></use>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="product__img">
                      <img
                        src="../img/catalog/Nike-Men's-Air-Monarch-IV-Training-Shoe-white/1.jpeg"
                        alt=""
                      />
                    </div>
                    <h2 class="product__title">
                      Nike Men's Air Monarch IV Training Shoe Nike Men's Air
                      Monarch IV Training Shoe
                    </h2>
                  </a>
                  <span class="product__price">1000</span>

                  <button class="btn-primary product__btn">Button</button>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
